.pybuild/*
parkbench-common.egg-info/*
debian/parkbench-common.debhelper.log
debian/parkbench-common.install
debian/parkbench-common.postinst.debhelper
debian/parkbench-common.prerm.debhelper
debian/parkbench-common.substvars
debian/parkbench-common/
debian/debhelper.log
debian/debhelper-build-stamp
debian/.debhelper/*
debian/files
debian/python*
debian/substvars
debian/tmp
*.swp
*.pyc
.idea/
*.iml
