.pybuild/*
confighelper.egg-info/*
debian/confighelper.debhelper.log
debian/confighelper.install
debian/confighelper.postinst.debhelper
debian/confighelper.prerm.debhelper
debian/confighelper.substvars
debian/confighelper/
debian/debhelper.log
debian/files
debian/python*
debian/substvars
debian/tmp

*.swp
