Source: confighelper
Section: python
Maintainer: eviljoel, Andrew Klapp
Build-Depends: debhelper (>=9),
               dh-python,
               python-all (>=2),
               python-setuptools

# TODO: Have this install to /usr/local
# TODO: Find out what misc::Depends is

Package: confighelper
Architecture: all
Depends: ${python::Depends}, ${misc::Depends}
Description: Helps parse Parkbench configuration files.
