Source: parkbench-common
Section: parkbench
Priority: required
Maintainer: eviljoel, Emily Frost
Standards-Version: 3.9.6.1
Build-Depends: debhelper (>=9),
               dh-python,
               python3,
               python3-setuptools

Package: parkbench-common
Architecture: all
Depends: python3, ${python::Depends}, ${misc::Depends}
Description: A support package for Parkbench projects.
